<div class="main article-show">
  <div class="container">
    <div class="article-return"><a href="/articles"><p>記事一覧へ</p></a></div>
    <div class="article">
      <div class="article-header">
        <div><%= image_tag 'article_people1.jpg', :size =>'900x400' %></div>
        <div><h2><%= @articleDetails.title %></h2></div>
      </div> <!-- /.article-header -->

      <div class="article-meta">
        <div class="article-writer"><%= image_tag @writers.image_name, :size => '50x50' %><p><%= @writers.name %></p></div>
        <p class="article-date"><%= @articleDetails.date %></p>
      </div>

      <div class="article-text">
        <%= @articleDetails.text.html_safe %>
      <div> <!-- /.article-text -->

    </div> <!-- /.article -->
  </div> <!-- /.container -->
</div>
