<!DOCTYPE html>
<html>
  <head>
    <title>PeopleEarthApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="header-logo">
          <%= link_to("People Earth","/") %>
        </div>
        <ul class="header-menus">
          <li>
            <%= link_to("記事一覧", "/articles") %>
          </li>
          <li>
            <%= link_to("ショップ一覧", "/shops") %>
          </li>


        </ul>
　  </header>
  <%= yield %>
  </body>
</html>
